 @import url('https://fonts.googleapis.com/css?family=Roboto') ;
    h1{
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
     text-transform: uppercase;
     font-size: 30px;
    }

/* * { 
    scroll-behavior: smooth;
    scroll-behavior: 4s;
 } */

.parallax{
    background: url('../img/proceso.jpg');
    height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-sub{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}
.slider_home{
    background: url("../img/charts-computer-data-669615.jpg");
    width:100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.slider_color{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    width:100%;
    height: 100vh;
}    
.titulo1{
    display: flex;
    font-size: 50px;
    letter-spacing: 1px;
    color: whitesmoke;
}
.bg-sol{
    color:rgb(47, 142, 231);
    letter-spacing: 2px;
    padding-left: 10px; 
    font-size: 60px;
    border-top: 1px solid rgb(47, 142, 231);
    border-bottom: 1px solid rgb(47, 142, 231);
    font-weight: bolder;
}
.titulo2{
    display: flex;
    letter-spacing: 1px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    overflow: hidden;
    color:rgb(47, 142, 231);
}
.titulo2 p{
    letter-spacing: 1px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    overflow: hidden;
    color:rgb(47, 142, 231);
}
.titulo2 ul{
    list-style: none;
    padding-left: 10px;
    animation: subir 6s infinite;
    color: rgb(221, 221, 221);
    font-weight: bold;
}
.cont-servicios{
    background:#FFFFFF;
}
.cont-servicios h2{
    color: #0C1D36;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.cont-servicios p{
    color: #353535;
}
.politica a{
    font-size: 12px;
}
.politica a:hover{
    color: grey;
}
.en{
    font-size: 50px; 
    font-weight: bolder;
}

.innovar{
    font-size: 50px; 
    font-weight: bolder;
}
@keyframes subir{
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25% {margin-top:-40px;}
    50%{margin-top: -40px;}

    55%{margin-top: -80px;}
    80%{margin-top: -80px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40px;}

    100%{margin-top: 0;}
    
}
@media(max-width: 850px){
    .titulo1{
        font-size: 20px;
    }
}
@media(max-width: 600px){
    .titulo2{
        font-size: 20px;
    }
}


.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}

.bienvenida{
    background: rgba(0, 0, 0, 0.6 );
    width: 100%;
    height: 100vh;
}

.top-nav-collapse{
    background: black !important;
    transition: 1s !important;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
.imagen-bienvenida{
    background: url('../img/slider1.jpg')no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
}
@media(max-width:740px){
    .imagen-bienvenida{
        
        width: 100%;
        height:50vh;
    }
    .en{
        font-size: 25px; 
        font-weight: bolder;
    }
    .bg-sol{
        font-size: 25px; 
        font-weight: bolder;
    }
    .innovar{
        font-size: 25px; 
        font-weight: bolder;
    }
}
p{
    text-align: justify;
    color: white;
    font-size: 14px;
}
h2{
    text-align: center;
}
i{
    color: white;
    font-size: 30px;
}
.i-titulo{
    font-size: 40px;
    color: white;
}
.proceso:hover #idea{
    color: rgb(252, 252, 58);
    transition: 1s;
}
.proceso:hover #analisis{
    color: rgb(49, 196, 44);
    transition: 1s;
}
.proceso:hover #desarrollo{
    color: rgb(255, 157, 44);
    transition: 1s;
}
.proceso:hover #mantenimiento{
    color: rgb(0, 145, 202);
    transition: 1s;
}
.titulo-directo{
    font-size: 20px;
    color: black;
    font-weight: bolder;
    text-align: left;
}
.info{
    font-size: 18px;
    color:  #222223 ;
    margin: 2px;
    text-align: justify;
}
.info-contacto{
    width: 80%;
    margin: auto;
}
section{
    width: 100%;
    height: 100vh;
    
}
section>h1{
    padding-top: 70px;
}
.app-img{
    
}
.card{
    border-radius: 10px;
}
.equipo{
    background: #F5F5F5;
}
/* .equipo-margen{
    margin-top: 10px;
    margin-bottom: 10px;
}

.icono-equipo{
    width: 300px;
    height: 300px;
    background: red;
}
 */
.titulo-visitas{
    font-size: 20px;
    width: 50%;
    margin:auto;
    text-align: center;
}
.visitas{
    font-size: 35px;
    width: 50%;
    margin:auto;
    text-align: center;
    font-weight: bold;
}

.imgApp{
    width: 70%;
    margin: auto;
}
.card{
    width: 70%;
    margin: auto;
}
strong{
    color: #000000;
}

@media(max-width:991px){
    .card{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
    #seccion{
        height: auto;
    }
    #seccion2{
        height: auto;
    }
    #seccion3{
        height: auto;
    }
    #seccion4{
        height: auto;
    }
    .parallax-sub{
        height: auto;
    }
    #contacto{
        height: auto;
    }
    .i-titulo{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    h1{
        font-size: 30px;
    }
    .info-contacto{
        width: 100%;
        padding-top: 50px;
    }
    .redes ul li {
        text-align: justify;
    }
}

